// text field ----------------------------->
.textfield{
  text-align: justify;
}
// side bar ------------------------------->
.sidebar{
  
}
// branding ------------------------------->
.branding{
  content:url(../images/branding.jpg);
  width: 100%;
}