.panel
  %h3.panel-header
    About us:
  .body-text.panel-default
    Welcome to the Mellow Miles Cycles website. We are a specialist bicycle store based in Horley in Surrey whose core values are to promote cycling to a wide audience and bring the very best products to our customers at the very best price.
    For most people, riding a bicycle is introduced to us at a very young age and for many people it is their earliest memory of experiencing success and achievement – do you remember the first time you rode your bike without assistance? The thrill as a child of riding your bike with friends and the freedom it offered you?
    %p
    Well, at Mellow Miles Cycles we firmly believe that cycling should be enjoyed by everyone, regardless of age, physical fitness or working commitments, and we have a full range of cycles and accessories to suit all requirements and budgets. Whether you are looking for a fully loaded bespoke-made racing bike, a folding bike for commuting, a rugged mountain bike or your child’s first bike with stabilisers and a basket, Mellow Miles are here to help and will always offer our expertise to ensure that you can make your purchase equipped with the best knowledge.

.panel
  %h3.panel-header
    What we offer:

  .body-text.panel-default
    As an independent cycle shop, Mellow Miles are not restricted or incentivised to sell you a specific make of bike or accessory, unlike many larger shops and chains. Our guidance and advice is entirely impartial and we guarantee that your best interests are our number 1 concern.
    %p
    Although our shop may appear to be small, we have superb buying power and are able to source a bike for you from a range of over 150 different bikes and numerous different manufacturers. That's why, when you buy a bike from Mellow Miles, you will get the bike that's right for you at an extremely competitive price, delivered quickly, and with the exact accessories that you require..

.panel
  %h3.panel-header
    Who we are:
  .body-text.panel-default
    Mellow Miles Cycles is owned and run by Nigel Brown, a former British Cycling champion and a man who has spent his entire adult life working in the cycle industry. Whilst we stock and sell many leisure bikes at extremely competitive prices, we are specialist retailers of some of the best cycle brands in the World including Basso, Moda, Ridgeback and Forme. We stock many of the best racing bikes from these leading brands and we can of course also build you your own unique customised bike using a combination of the best frames and components.
    %p
    So please, enjoy our website, browse some of our brands, products, and repair services. But please remember, we believe that finding a cycle that’s right for the customer is a personal experience – like buying a pair of shoes, it is important that all size specifications are taken into consideration along with your personal style preference. The best way to do this is in person, so why not give us a call or come and visit the Mellow Miles Cycle shop in Horley where we will greet you with a smile and make your individual requirements our primary concern.

// dropdown stuff
/ #accordion.panel-group
/   #panel1.panel.panel-default
/     .panel-heading
/       %h4.panel-title
/         %a{"data-target" => "#collapseOne", "data-toggle" => "collapse", :href => "#collapseOne"}
/           Collapsible Group Item #1
/     #collapseOne.panel-collapse.collapse.in
/       .panel-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
/   #panel2.panel.panel-default
/     .panel-heading
/       %h4.panel-title
/         %a.collapsed{"data-target" => "#collapseTwo", "data-toggle" => "collapse", :href => "#collapseTwo"}
/           Collapsible Group Item #2
/     #collapseTwo.panel-collapse.collapse
/       .panel-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
/   #panel3.panel.panel-default
/     .panel-heading
/       %h4.panel-title
/         %a.collapsed{"data-target" => "#collapseThree", "data-toggle" => "collapse", :href => "#collapseThree"}
/           Collapsible Group Item #3
/     #collapseThree.panel-collapse.collapse
/       .panel-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
