%nav.navbar.navbar-default.navbar-inverse{:role => "navigation"}
  #navfluid.container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navigationbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Mellow Miles
    #navigationbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "#"} Racing Bikes
        %li
          %a{:href => "#"} Mountain Bikes
        %li
          %a{:href => "#"} Childrens Bikes
        %li
          %a{:href => "#"} Folding Bikes
        %li
          %a{:href => "./Rueckblick.html"} Accesories
        %li
          %a{:href => "./Wettbewerb.html"} Servicing
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "./anmelden.html"} Contact Us