.brand Accessories
= partial 'navbar'
.container
  .row
    .box
      .col-lg-12
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/AMP.jpg"}/
        %hr.visible-xs/
        %p 
        At Mellow Miles Cycles, we have everything to do with cycling for all types of cyclist, from fashionable children's accessories to professional cycling shoes and jerseys. Safety is the primary concern when it comes to any form of cycling and, whilst we can't wrap ourselves in bubble wrap, we must always ensure that we are suitably attired to enjoy cycling. Our range of saftey helmets are manufactured to the highest standards and we insist on supervising fitting to ensure that they are fit for purpose for every individual.
        Mellow Miles stock the very best cycling apparel with comfort and style in mind. Properly fitted shoes designed for YOUR pedal clasps, a choice of colours and brands of cycling jerseys and shorts, gloves, locks, cleaning equipment - you name it, we've got it. Whatever you are looking for, give us a call or pop in to see how we can help you get the most from cycling.

.container
  .row
    .box
      .col-lg-12
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/accessories/helmet.jpg"}/
        %hr.visible-xs/
         
        %p 
        Safety Helmets - 20 years ago it was rare to see a non-professional cyclist wearing a helmet. However, the evidence of horrific injuries and fatalities make safety helmets an essential item for ALL cyclists and their benefits far out-weigh any fashionable arguments against. Fortunately, safety helmet designs have made them an attractive addition to a cyclists attire and it is the cyclist not wearing a helmet that now stands out fromt he crowd. When purchasing a helmet, it is important that you check a few details first: firstly, all helmets should meet the British Standard for safety. A helmet should be snug fit and sit squarely on your head without wobbling independently. A helmet should be securely fastened by straps which aren't twisted and withonly enough room for two fingers between your chin and the strip. Our customers safety is our primary concern so please come in to the Mellow Miles Cycles shop in Horley for a personal fitting and advise. Mellow Miles stock both MET and UVEX helmets.
    .box
      .col-lg-12
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/accessories/light.jpg"}/
        %hr.visible-xs/
        %p 
        Lights & Reflectors - if you use your bike at night or when visibility is poor, you must fit a white front light, red rear light, red rear reflector and amber pedal reflectors. There are also additional reflectors that can be fitted such as spoke reflectors that will further heighten your visibility to other road users. Again, Mellow Miles know the best products to ensure your safety and are more than happy to advise you. Some of the best brand available and stocked by Mellow Miles are Knog, Electron and Moon.
    .box
      .col-lg-12
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/accessories/lock.jpg"}/
        %hr.visible-xs/
        %p 
        Bicycle Locks - no matter how much you have paid for your bike, the last thing you want is to be the victim of an opportunist thief. At Mellow Miles we stock a superb range of bicycle locks designed to prevent the theft of your bike or any of it's components. Brands such as On Guard, Abus, Kryptonite and Master Lock offer excellent products to ensure the safety of your bike and Mellow Miles will be happy to advise on appropriate products for you.
    .box
      .col-lg-12
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/accessories/shoe.jpg"}/
        %hr.visible-xs/
        %p 
        Clothing and Shoes - Mellow Miles represent many different suppliers of cycling clothing for all styles of cycling enthusiast. Whether your preference is high speed racing, off road mountain biking, BMXing or just casual, comfortable, sociable riding, we have the appropriate clothing for you. As with all aspects of bike riding, it is important that you are comfortable in what you are wearing and that you can move your entire body easily and freely in your attire. You should never ride a bike with any clothing that could get caught in any moving part of your cycle such as chain or wheels and bright coloured clothing will ensure that you are visible to all road users in all conditions. Please come to the shop to view our range of clothing and footwear or you can have a look at some of our biggest brands by clicking on the links here - DMT cycling shoes, Schimano, and Altura. We also have a range of our own branded cycle clothing coming soon.
    .box
      .col-lg-12
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/accessories/sportsbar.jpg"}/
        %hr.visible-xs/
        %p 
        Food & Nutrition - As with any form of sport and exercise, it is important to ensure that your body has the energy to perform. Mellow Miles have investigated many different nutritional supplements and are proud to sell High Five nutrition bars which are, in our opinion, one of the best nutrition bars on the market.
    .box
      .col-lg-12
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/accessories/uvex.jpg"}/
        %hr.visible-xs/
        %p 
        Sunglasses - Mellow Miles are stockists of the stylish and safe range of UVEX sunglasses. We keep a large range of sunglasses in stock or we can order a specific design just for you. As well as looking great, UVEX sunglasses are equipped with the very best Ultra Violet protection as well as lots of other safety features to ensure that your eyes are protected and you can enjoy cycling without having to worry about glare. Please CLICK HERE to view the range of UVEX sunglasses and learn more about their superior benefits.