.container
  .row
    .branding
      .col-lg-12
        = image_tag '../images/contact.jpg'
= partial 'navbar'
.container
  .row
    .box
      .col-lg-8.text-center
        %img.img-responsive.img-full{:src => "../images/map.png"}/
      .col-lg-4
        %p
        .opentimes
          %h3.brand-before
            Opening Times:
            %small
              %p
              Summer (from 9th April to 31st October)
              %p
              %p 
              Monday to Friday: 9am - 6.30pm 
              %p
              (Winter closed thursday)
              %p 
              Saturday: 9am - 6pm
              %p 
              Sunday: 10am to 4pm
  .row
    .box
      .col-lg-12
        %hr/
        %h2.intro-text.text-center
          %strong Thank you for visiting.
        %hr.tagline-divider
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/sp2.jpg"}/
        %hr.visible-xs/
        %p Hopefully our website has told you that we aren't a huge company dealing in thousands of customer complaints and queries everyday. We pride ourselves on the bespoke, personal service that we give to each and every customer and we hope that we will be able to help you with absolutely any query you may have about our range of bikes & accessories or servicing abilities. Whether you visit the shop, call us or e-mail us, your query will be handled swiftly and professionally by someone who actually knows what you are talking about and shares your passion for cycling.
  We would be delighted to hear from you in whatever way best suits you. Below are all of our contact details as well as a location map for our Horley shop.
