.brand Servicing
= partial 'navbar'
.container
  .row
    .box
      .col-lg-12
        %hr
        %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/sp.jpg"}/
        %hr.visible-xs/
        %p
        At Mellow Miles Cycles, you and your bike are in the very best hands. We have spent years working with all types, makes and styles of bikes and we pride ourselves on having the most in-depth, expert knowledge possible. As well as selling the very best bikes, we offer a comprehensive servicing and repair service for all makes and models.
        We also specialise in building bikes to customers' exact specifications, allowing you to design your own bike from our wide range of superb frames, wheels and accessories.
        %p
        Below you can see a list of some of the most common servicing and repair requests and our extremely competitive prices. If you don't see the service that you require or would like to discuss a bespoke project, please 
        %a{:href => "../page/contact.html"}contact us 
        and we will be delighted to assist you.

  .row
    .box
      .col-lg-12
        %hr/
        %h2.intro-text.text-center
          %strong Service & Repair Prices:
        %hr.tagline-divider
        %hr.visible-xs
        We have a new price list for servicing and repairs coming soon. In the meantime, please
        %a{:href => "../page/contact.html"}contact us 
        if you would like to discuss your requirements. Please note, we do not charge an additional fee for fitting accessories to new bike purchases.