---
title: Mellow Miles
---
.container
  %nav.navbar.navbar-inverse
    %a.navbar-brand Mellow Miles
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          Bikes
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li.divider
          %li
            %a{:href => "#"} Racing Bikes
          %li.divider
          %li
            %a{:href => "#"} Mountain Bikes
          %li.divider
          %li
            %a{:href => "#"} Childrens Bikes
          %li.divider
          %li
            %a{:href => "#"} Folding Bikes
          %li.divider
      %li
        %a{:href => "#"} Accesories
      %li
        %a{:href => "#"} Servicing
      %li
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "#"} Contact Us &nbsp;