---
title: Mellow Miles
---
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Mellow Miles
    / Fonts
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    .brand Mellow Miles
    .address-bar Mellow Miles Cycles, 67 Victoria Road, Horley, Surrey, RH6 7QH
    / .branding.span12
    / Navigation
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          / navbar-brand is hidden on larger screens, but visible when the menu is collapsed
          %a.navbar-brand{:href => "/"} Mellow Miles
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "/"} Home
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                Bikes
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a{:href => "/page/racing_bikes.html"} Racing bikes
                %li.divider
                %li
                  %a{:href => "/page/mountain_bikes.html"} Mountain bikes
                %li.divider
                %li
                  %a{:href => "/page/children_bikes.html"} Children's bikes
                %li.divider
                %li
                  %a{:href => "/page/folding_bikes.html"} Folding Bikes
                %li.divider
                %li
                  %a{:href => "/page/town_bikes.html"} Town bikes
            %li
              %a{:href => "/page/accessories.html"} Accessories
            %li
              %a{:href => "/page/servicing.html"} Servicing
            %li
              %a{:href => "/page/contact.html"} Contact Us
    .container
      .row
        .box
          .col-lg-8.text-center
            #carousel-example-generic.carousel.slide
              / Indicators
              %ol.carousel-indicators.hidden-xs
                %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
                %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
                %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
              / Wrapper for slides
              .carousel-inner
                .item
                  %img.img-responsive.img-full{:alt => "", :src => "../images/box.png"}/
                .item
                  %img.img-responsive.img-full{:alt => "", :src => "../images/box.png"}/
                .item.active
                  %img.img-responsive.img-full{:alt => "", :src => "../images/box.png"}/
              / Controls
              %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
                %span.icon-prev
              %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
                %span.icon-next
          %h2.brand-before
            %small Welcome to
          %h1.brand-name Mellow Miles
          %hr.tagline-divider
          / %h2
          /   %small
          /     The Cycle website.
      .row
        .box
          .col-lg-12
            %hr/
            %h2.intro-text.text-center
              A Cycle Shop
              %strong worth visiting
            %hr.tagline-divider
            %hr/
            %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/rbp.jpg"}/
            %hr.visible-xs/
            %p For most people, riding a bicycle is introduced to us at a very young age and for many people it is their earliest memory of experiencing success and achievement – do you remember the first time you rode your bike without assistance? The thrill as a child of riding your bike with friends and the freedom it offered you?
            %p
              Well, at Mellow Miles Cycles we firmly believe that cycling should be enjoyed by everyone, regardless of age, physical fitness or working commitments, and we have a full range of cycles and accessories to suit all requirements and budgets. Whether you are looking for a fully loaded bespoke-made racing bike, a folding bike for commuting, a rugged mountain bike or your child’s first bike with stabilisers and a basket, Mellow Miles are here to help and will always offer our expertise to ensure that you can make your purchase equipped with the best knowledge.

      .row
        .box
          .col-lg-12
            %hr/
            %h2.intro-text.text-center
              %strong What We Offer
            %hr.tagline-divider
            %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/mb.jpg"}/
            %hr.visible-xs/
            %p As an independent cycle shop, Mellow Miles are not restricted or incentivised to sell you a specific make of bike or accessory, unlike many larger shops and chains. Our guidance and advice is entirely impartial and we guarantee that your best interests are our number 1 concern.
            %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapse"} Read more -->
            #collapse.accordion-body.collapse
              .accordion-inner
                %p Although our shop may appear to be small, we have superb buying power and are able to source a bike for you from a range of over 150 different bikes and numerous different manufacturers. That's why, when you buy a bike from Mellow Miles, you will get the bike that's right for you at an extremely competitive price, delivered quickly, and with the exact accessories that you require.

      .row
        .box
          .col-lg-12
            %hr/
            %h2.intro-text.text-center
              %strong Who We Are
            %hr.tagline-divider
            %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/np.jpg"}/
            %hr.visible-xs/
            %p Mellow Miles Cycles is owned and run by Nigel Brown, a former British Cycling champion and a man who has spent his entire adult life working in the cycle industry. Whilst we stock and sell many leisure bikes at extremely competitive prices, we are specialist retailers of some of the best cycle brands in the World including Basso, Moda, Ridgeback and Forme. We stock many of the best racing bikes from these leading brands and we can of course also build you your own unique customised bike using a combination of the best frames and components.
            %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"} Read more -->
            #collapseTwo.accordion-body.collapse
              .accordion-inner
                %p So please, enjoy our website, browse some of our brands, products, and repair services. But please remember, we believe that finding a cycle that’s right for the customer is a personal experience – like buying a pair of shoes, it is important that all size specifications are taken into consideration along with your personal style preference. The best way to do this is in person, so why not give us a call or come and visit the Mellow Miles Cycle shop in Horley where we will greet you with a smile and make your individual requirements our primary concern.

      .row
        .box
          .col-lg-12
            %hr/
            %h2.intro-text.text-center
              %strong Cycling Safely
            %hr.tagline-divider
            %img.img-responsive.img-border.img-left{:alt => "", :src => "../images/velo.jpg"}/
            %hr.visible-xs/
            %p 
            It is vitally important that we learn proper road and cycle safety before endeavouring to ride on the roads. The proper personal safety equipment and clothing is essential but so too is a comprehensive knowledge of the Highway Code and an awareness of other people's actions. Most adult cyclists have developed this knowledge through experience of driving, but it is always worth reminding ourselves of the key points.
            %p
            %a{:href => "http://talesoftheroad.direct.gov.uk/"} This text links through to the Government's road safety website that has lots of information on cycling safely and some fun games to help children learn.

            
    / /.container
    %footer
      .container
        .row
          .col-lg-12.text-center
            %p Copyright © Jack Sharville
            
:javascript
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })

:javascript
  $('.SeeMore2').click(function(){
  		var $this = $(this);
  		$this.toggleClass('SeeMore2');
  		if($this.hasClass('SeeMore2')){
  			$this.text('See More');			
  		} else {
  			$this.text('See Less');
  		}
  	});